/* --- RESET & BASE --- */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-ui);
    font-size: var(--fs-base);
    color: var(--text-primary);
    background-color: var(--bg-app);
    min-height: 100vh;
    overflow-y: scroll;
    /* ALWAYS SHOW SCROLLBAR */
    overflow-x: hidden;
}